body {
    text-align: center;
    width: 90vw;
    margin: auto;
}

.atelier {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.etagere {
    border: solid black 4px;
    border-top-style: none;
    border-bottom-style: none;
    width: 450px;
    margin: auto;
}

.boite {
    width: 200px;
    height: 100px;
    background-color: burlywood;
    margin: 2px auto;
}

.boite.grosse {
    height: 150px;
    width: 250px;
    background-color: lightseagreen;
}

.boite.petite {
    height: 50px;
    width: 150px;
    background-color: orange;
}

.boite:hover {
    animation-name: boite-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rangee {
    border: dashed brown 2px;
    display: flex;
    flex-wrap: wrap-reverse;
   border-top-style: none;
    border-right-style: none ;
    border-left-style: none;
}


@keyframes boite-hover {
    to {
        border-radius: 5px;
        background-color: grey;
    }
}
